.container {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.brand-bar {
  width: 100vw;
  height: 3rem;
  margin-bottom: 24px;
}

.brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.body-container {
  display: flex;
}

.left-nav {
  width: 10rem;
  height: 100vh;
}

.left-nav-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
}

div {
  /* border: 1px solid red; */
}

h5 {
  margin-left: 12px;
}

.content {
  width: 100vw;
  height: 100vh;
}
