.container {
  padding: 24px;
  width: 90vw;

  height: 90vh;
  text-align: center;
  margin: auto;
}

.brand-bar {
  margin-bottom: 24px;
}

.brand-name {
  font-size: 30px;
  font-weight: 800;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.body-container {
  border: 1px solid black;
  height: 100%;
}

h5 {
  margin-left: 12px;
}
